In [13]:
from numpy.random import randn
import pandas as pd

df = pd.DataFrame(data=randn(5, 5),
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['Columns1', 'Columns2', 'Columns3', 'Columns4', 'Columns5'])
df

   Columns1  Columns2  Columns3  Columns4  Columns5
a -1.735525 -2.457908  0.855288 -0.157196 -0.146044
b -2.296553  1.318716  1.465150  0.961876  1.825504
c  0.836938 -0.990771 -0.148286  0.095041  1.214360
d -2.460543 -0.793984 -2.429308 -0.494203 -0.863856
e  0.029376  2.519365 -1.324103  0.745272 -0.874746

## 1 describe() ->

In [7]:
df.describe()

       Columns1  Columns2  Columns3  Columns4  Columns5
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean  -0.617677 -0.651142  0.208368  0.487473 -0.624579
std    1.174088  0.704988  0.607770  0.558589  0.865552
min   -1.699437 -1.662575 -0.295953 -0.188293 -1.683302
25%   -1.697851 -0.884378 -0.276994  0.107348 -1.360019
50%   -0.647403 -0.496889  0.198495  0.441263 -0.261482
75%   -0.144094 -0.488257  0.214196  0.901625 -0.208336
max    1.100400  0.276389  1.202094  1.175424  0.390241

## 2 info() -> DataFrame 'in sütun isimleri, veri tipleri ve eksik değerleri hakkında bilgi verir

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Columns1  5 non-null      float64
 1   Columns2  5 non-null      float64
 2   Columns3  5 non-null      float64
 3   Columns4  5 non-null      float64
 4   Columns5  5 non-null      float64
dtypes: float64(5)
memory usage: 240.0+ bytes

## 3 groupby() -> belirli gruplara göre işlem yapılır

In [25]:
#yeni bir katagori ekliyorum çünkü örnek frame de grouplama yapıla bilir bir bicim yok
df["Kategori"] = ["A", "B", "A", "B", "A"]  
df_grouped = df.groupby("Kategori").mean()

df_grouped

          Columns1  Columns2  Columns3  Columns4  Columns5
Kategori
A        -0.289737 -0.309771 -0.205700  0.227706  0.064523
B        -2.378548  0.262366 -0.482079  0.233837  0.480824

## 4 sort_values(by=[]) -> bir sütuna göre sıralama yapar

In [30]:
df.sort_values(by ="Columns1",ascending=False) #büyükten küçüğe

   Columns1  Columns2  Columns3  Columns4  Columns5 Kategori
c  0.836938 -0.990771 -0.148286  0.095041  1.214360        A
e  0.029376  2.519365 -1.324103  0.745272 -0.874746        A
a -1.735525 -2.457908  0.855288 -0.157196 -0.146044        A
b -2.296553  1.318716  1.465150  0.961876  1.825504        B
d -2.460543 -0.793984 -2.429308 -0.494203 -0.863856        B

## 5 shape -> DataFrame'in kaç satır ve sütundan oluştuğunu gösterir.

In [31]:
df.shape

(5, 6)

## 6 dtypes -> her sütunun veri türünü gösterir

In [32]:
df.dtypes

Columns1    float64
Columns2    float64
Columns3    float64
Columns4    float64
Columns5    float64
Kategori     object
dtype: object

## 7 astype() -> bir sütunun veri tipini değiştirebilmek için kullanılır

In [35]:
df["Columns1"] = df["Columns1"].astype(int)
df.dtypes

Columns1      int64
Columns2    float64
Columns3    float64
Columns4    float64
Columns5    float64
Kategori     object
dtype: object

## 8 corr() -> Sütunlar arası ilşkiyi analiz eder

In [41]:
df.corr(numeric_only= True)

          Columns1  Columns2  Columns3  Columns4  Columns5
Columns1  1.000000  0.126648 -0.080139  0.152447 -0.126207
Columns2  0.126648  1.000000 -0.123991  0.810065  0.014200
Columns3 -0.080139 -0.123991  1.000000  0.474376  0.766777
Columns4  0.152447  0.810065  0.474376  1.000000  0.465950
Columns5 -0.126207  0.014200  0.766777  0.465950  1.000000

## 9 nunique() -> her sütunda kaç tane farklı değer olduğunu gösterir

In [42]:
df.nunique()

Columns1    3
Columns2    5
Columns3    5
Columns4    5
Columns5    5
Kategori    2
dtype: int64

## 10 value_count() -> tekrar eden değerleri sayma

In [43]:
df["Columns1"].value_counts()

Columns1
-2.0    2
 0.0    2
-1.0    1
Name: count, dtype: int64